.techGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 0 0;
}

.techGrid li {
  padding: 0;
}

.techGrid li :global(a) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-1) var(--size-2);
  color: var(--fg-main);
  border: var(--border-size-2) solid var(--tech-color);
  box-shadow: 5px 5px 0px var(--tech-color);
  font-weight: var(--font-weight-9);
  transition: all 0.3s ease;
  text-decoration: none;
}

.techGrid li :global(a:hover) {
  transform: translateY(-2px);
  background-color: var(--tech-color);
  color: var(--fg-contrast);
  box-shadow: 10px 10px 0px var(--bg-support);
}
