version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    groups:
      tanstack:
        patterns:
          - "@tanstack/*"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
          - "eslint-plugin-*"
          - "typescript-eslint"
      storybook:
        patterns:
          - "storybook"
          - "@storybook/*"
          - "@chromatic-com/*"
      vitest:
        patterns:
          - "vitest"
          - "@vitest/*"
