.IndexPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
  max-width: var(--size-content-3);
  padding: var(--base-layout-top-padding) var(--size-6);
}

.IndexPage__column {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}

/* Two columns: 768px+ */
@media (min-width: 768px) {
  .IndexPage {
    display: grid;
    max-width: none;
    grid-template-columns: var(--size-content-2) var(--size-content-2);
    justify-content: center;
    align-items: start;
  }

  /* Employment and Projects share a column */
  .IndexPage__column--projects {
    grid-column: 2;
  }

  .IndexPage__column--employment {
    grid-column: 2;
    grid-row: 1;
  }
}

/* Two columns wider: 1024px+ */
@media (min-width: 1024px) {
  .IndexPage {
    grid-template-columns: var(--size-content-3) var(--size-content-3);
  }
}

/* Three columns: 1440px+ */
@media (min-width: 1440px) {
  .IndexPage {
    grid-template-columns: var(--size-content-2) var(--size-content-2) var(
        --size-content-2
      );
  }

  .IndexPage__column--employment {
    grid-column: 2;
  }

  .IndexPage__column--projects {
    grid-column: 3;
    grid-row: 1;
  }
}

/* Three columns wider: 1800px+ */
@media (min-width: 1800px) {
  .IndexPage {
    gap: var(--size-10);
    grid-template-columns: var(--size-content-3) var(--size-content-3) var(
        --size-content-3
      );
  }

  .IndexPage__column {
    gap: var(--size-10);
  }
}
