.column {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}

.layout {
  gap: var(--size-8);
  justify-content: center;
}

.layoutOneColumn {
  max-width: var(--size-content-3);
  margin: 0 auto;
}

.layoutTwoColumns,
.layoutThreeColumns,
.layoutFourColumns {
  display: none;
}

@media (min-width: 768px) {
  .layoutOneColumn {
    display: none;
  }

  .layoutTwoColumns {
    display: grid;
    grid-template-columns: repeat(2, var(--size-content-2));
  }
}

@media (min-width: 1024px) {
  .layoutTwoColumns {
    grid-template-columns: repeat(2, var(--size-content-3));
  }
}

@media (min-width: 1440px) {
  .layoutOneColumn,
  .layoutTwoColumns {
    display: none;
  }

  .layoutThreeColumns {
    display: grid;
    grid-template-columns: repeat(3, var(--size-content-2));
  }
}

@media (min-width: 1920px) {
  .layoutThreeColumns {
    display: none;
  }

  .layout {
    gap: var(--size-10);
  }

  .layoutFourColumns {
    display: grid;
    grid-template-columns: repeat(4, var(--size-content-2));
  }
}

@media (min-width: 2440px) {
  .layoutFourColumns {
    display: grid;
    grid-template-columns: repeat(4, var(--size-content-3));
  }
}
