.StudyPostMeta {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.StudyPostMeta__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.StudyPostMeta__tag {
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-6);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--color-fg-minor);
  padding: var(--size-1) var(--size-2);
  border: var(--border-size-1) solid var(--color-fg-minor);
}
