.StudyPostCard {
  border: var(--border-size-1) dashed var(--color-fg-minor);
  padding: var(--size-4);
  transition: border-color 0.2s ease;
}

.StudyPostCard:hover {
  border-color: var(--color-fg-accent);
}

.StudyPostCard__link {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  text-decoration: none;
  color: inherit;
}

.StudyPostCard__link:hover {
  color: inherit;
}
