.About {
  & p:last-of-type {
    margin-bottom: var(--size-8);
  }
}
.About__looking-for {
  background: var(--bg-dots);
  padding: var(--size-5) var(--size-9);

  & h1 {
    border: var(--border-size-2) solid var(--fg-accent);
    background: var(--bg-main);

    padding: var(--size-4);
    margin: 0;

    font-size: var(--font-size-fluid-2);
    color: var(--fg-accent);
  }
}
