.about {
  & p:first-child {
    font-weight: var(--font-weight-7);
  }
}

.lookingFor {
  background: var(--bg-dots);
  padding: var(--size-3) var(--size-4);

  & h1 {
    border: var(--border-size-2) solid var(--fg-accent);
    background: var(--bg-main);
    padding: var(--size-2) var(--size-3);
    font-size: var(--font-size-3);
    color: var(--fg-accent);
  }
}
