.DevStack {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);

  & h3 {
    color: var(--fg-accent);
  }
}

.DevStack__mcps {
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}
