.profilePicture {
  position: relative;
}

.profileImage {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  display: block;
  box-shadow: var(--shadow-hard-5);
  border: var(--border-size-2) solid var(--fg-accent);
}

.profileImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: hue;
  background: var(--bg-dots);
  opacity: 0.5;
  z-index: 1;
}
