.ControlPanelIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--control-panel-cell);
  height: var(--control-panel-cell);

  background: var(--color-bg-main);
  border: none;

  font-family: var(--font-family);
  font-size: var(--control-panel-font-size);
  font-weight: var(--font-weight-9);
  color: var(--color-fg-main);
}

.ControlPanelIndicator--disabled {
  color: var(--color-fg-minor);
}
