.ControlPanelColorDot {
  --hue-color-compl: calc(var(--hue-color) + var(--hue-accent-compl-degree));

  --background-color: light-dark(
    oklch(0.45 calc(0.25 * var(--chroma)) var(--hue-color)),
    oklch(0.65 calc(0.25 * var(--chroma)) var(--hue-color))
  );
  --border-color: light-dark(
    oklch(0.45 calc(0.25 * var(--chroma)) var(--hue-color-compl)),
    oklch(0.65 calc(0.25 * var(--chroma)) var(--hue-color-compl))
  );

  display: block;
  background-color: var(--background-color);
  width: calc(var(--control-panel-cell) / 1.5);
  height: calc(var(--control-panel-cell) / 1.5);
  border: var(--border-size-3) solid var(--border-color);
}
