.ControlPanelOption {
  --font-color-active: oklch(
    from var(--fg-accent) clamp(0.05, (0.6 - l) * 1000, 0.975) 0.05 h
  );

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--control-panel-cell);
  height: var(--control-panel-cell);

  background: var(--bg-main);
  border: var(--border-size-2) dashed var(--fg-accent);

  font-family: var(--font-family);
  font-size: var(--control-panel-font-size);
  font-weight: var(--font-weight-9);
  color: var(--fg-main);

  cursor: pointer;
  transition: border-color 0.1s ease-out;
}

.ControlPanelOption--active,
.ControlPanelOption:hover {
  background: var(--fg-accent);
  border: var(--border-size-2) solid var(--fg-accent);
  color: var(--font-color-active);
}

.ControlPanelOption--disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--fg-minor);
}
