.ControlPanelOption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--control-panel-cell);
  height: var(--control-panel-cell);

  background: var(--bg-main);
  border: var(--border-size-2) dashed var(--fg-accent);

  font-family: var(--font-family);
  font-size: var(--control-panel-font-size);
  font-weight: var(--font-weight-9);
  color: var(--fg-main);

  cursor: pointer;
  transition: border-color 0.1s ease-out;
}

.ControlPanelOption--active,
.ControlPanelOption:hover {
  background: var(--bg-accent);
  border: var(--border-size-2) solid var(--fg-accent);
  color: var(--fg-on-accent);
}

.ControlPanelOption--disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: var(--fg-minor);
}

.ControlPanelOption--width-auto {
  width: auto;
  padding-inline: var(--size-3);
}

.ControlPanelOption--width-full {
  width: 100%;
}

.ControlPanelOption--align-left {
  justify-content: flex-start;
  padding-inline-start: var(--size-2);
}
