@import "open-props/style";

@import "./fonts.css";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --hue: 170;
  --hue-active: 170;

  --bg-main: oklch(90% 0.005 var(--hue));
  --bg-support: oklch(70% 0.01 var(--hue));

  --fg-main: oklch(45% 0.05 var(--hue));
  --fg-support: oklch(65% 0.01 var(--hue));
  --fg-minor: oklch(75% 0.01 var(--hue));
  --fg-accent: oklch(45% 0.25 var(--hue-active));

  --content-max-width: var(--size-content-3);
  --font-family: "BerkeleyMono";

  --shadow-hard: 15px 15px 0px var(--fg-accent);

  font-family: var(--font-family);
  line-height: var(--font-lineheight-3);
  font-size: 100%;
  background-color: var(--bg-main);
  color: var(--fg-main);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-size: clamp(var(--font-size-4), 7.5cqw, var(--font-size-8));
  color: var(--fg-main);
}

h2 {
  font-size: clamp(var(--font-size-4), 7.5cqw, var(--font-size-8));
  text-transform: uppercase;
  padding-bottom: var(--size-1);
  margin-top: 0;
  color: var(--fg-accent);
  border-bottom: var(--border-size-2) solid var(--fg-accent);
}

h3 {
  font-size: var(--font-size-2);
  padding-bottom: var(--size-1);
  color: var(--fg-main);
}

a {
  color: var(--fg-main);
  text-decoration-thickness: var(--border-size-2);
  text-decoration-color: var(--fg-accent);
  text-underline-offset: var(--border-size-2);

  &:visited {
    color: var(--fg-main);
  }

  &:hover {
    color: var(--fg-accent);
  }
}

section {
  container-type: inline-size;
  max-inline-size: var(--content-max-width);
  padding: 0 var(--size-6);
  margin: 0 auto var(--size-8);
}
