@import "open-props/style";
@import "open-props/borders";

@import "./fonts.css";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --hue: 0;
  --hue-accent: 180;
  --hue-accent-alt: 360;

  --bg-main: oklch(95% 0.005 var(--hue));
  --bg-support: oklch(90% 0.005 var(--hue));

  --fg-main: oklch(40% 0.01 var(--hue));
  --fg-support: oklch(50% 0.01 var(--hue));
  --fg-minor: oklch(60% 0.01 var(--hue));
  --fg-accent: oklch(45% 0.35 var(--hue-accent));
  --fg-accent-alt: oklch(45% 0.5 var(--hue-accent-alt));
  --fg-contrast: oklch(98% 0.05 var(--hue-accent));

  --content-max-width: var(--size-content-3);
  --header-height: var(--size-10);

  --font-family: "TX-02", monospace;

  --base-layout-top-padding: var(--size-8);

  --shadow-hard-5: 5px 5px 0px var(--fg-accent);
  --shadow-hard-15: 15px 15px 0px var(--fg-accent);

  --accent-picker-size: var(--size-8);

  --bg-dots:
    radial-gradient(var(--fg-accent) 0.5px, transparent 1px) 0 0 / 3px 3px,
    var(--bg-main);

  font-family: var(--font-family);
  line-height: var(--font-lineheight-3);
  font-size: 100%;
  background-color: var(--bg-main);
  color: var(--fg-main);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-size: clamp(var(--font-size-4), 7.5cqw, var(--font-size-8));
  font-weight: var(--font-weight-9);
  color: var(--fg-main);
}

h2 {
  border-bottom: var(--border-size-2) dashed var(--fg-accent);
  color: var(--fg-accent);
  font-size: clamp(var(--font-size-4), 7.5cqw, var(--font-size-8));
  margin-top: 0;
  padding-bottom: var(--size-1);
  text-transform: uppercase;
  font-weight: var(--font-weight-9);
}

h3 {
  font-size: clamp(var(--font-size-3), 7.5cqw, var(--font-size-5));
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);
  color: var(--fg-main);
}

p {
  font-weight: var(--font-weight-3);
}

strong {
  font-weight: var(--font-weight-7);
}
