.CvHeader {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--print-size-6);
  margin-bottom: var(--print-size-8);
}

/* Desktop: side-by-side layout */
@media (min-width: 640px) {
  .CvHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--print-size-2) var(--print-size-8);
  }
}

.CvHeader__texts {
  display: flex;
  flex-direction: column;
  gap: var(--print-size-6);

  & > * {
    margin: 0;
  }
}

.CvHeader__name {
  font-size: var(--print-font-size-7);
  font-weight: var(--font-weight-9);
  text-transform: uppercase;
  line-height: var(--print-font-lineheight-0);
  color: var(--color-fg-accent);
}

.CvHeader__tagline {
  font-size: var(--print-font-size-4);
  font-weight: var(--font-weight-7);
}

.CvHeader__summary {
  font-size: var(--print-font-size-2);
  line-height: var(--print-font-lineheight-4);
}

.CvHeader__divider {
  width: 2px;
  border-left: var(--border-size-2) dashed var(--color-fg-accent);
  height: 100%;
}

.CvHeader__aside {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: var(--print-size-3);
}

.CvHeader__photo-wrapper {
  position: relative;
  border: var(--border-size-2) solid var(--color-fg-accent);
  max-height: 300px;
}

@media print {
  .CvHeader__photo-wrapper {
    transform: translateX(calc(var(--print-size-2) * -1));
  }
}

/* Desktop: full height photo */
@media (min-width: 640px) {
  .CvHeader__photo-wrapper {
    max-height: none;
    height: 100%;
  }
}

.CvHeader__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CvHeader__contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--print-size-1);
  font-size: var(--print-font-size-1);
  color: var(--color-fg-support);
}

.CvHeader__contact span {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--print-size-2);
}

.CvHeader__contact span svg {
  flex-shrink: 0;
  height: var(--print-font-size-1);
}
