.CvPriorExperience__text,
.CvPriorExperience__education {
  font-size: var(--print-font-size-2);
  margin: 0 0 var(--print-size-2);
  line-height: var(--print-font-lineheight-2);
}

.CvPriorExperience__education {
  margin-bottom: 0;
}
