.CvSection {
  margin-bottom: var(--print-size-8);
}

.CvSection__title {
  font-size: var(--print-font-size-5);
  font-weight: var(--font-weight-9);
  margin-bottom: var(--print-size-4);
  padding-bottom: var(--print-size-2);
}

@media print {
  .CvSection--avoid-break {
    break-inside: avoid;
  }

  .CvSection__title {
    border-bottom: 1px solid #ccc;
    break-after: avoid;
  }
}
