/* Cover letter specific styles - base print styles are in src/styles/print-utils.css */
/* Use .PrintPage class on the component for shared print page behavior */

.CoverLetterPage__content {
  margin-bottom: var(--print-size-10);
}

.CoverLetterPage__signature {
  display: flex;
  flex-direction: column;
  gap: var(--print-size-6);
}

.CoverLetterPage__signature p {
  margin: 0;
  font-size: var(--print-font-size-2);
  line-height: var(--print-font-lineheight-3);
}

.CoverLetterPage__signature-name {
  font-weight: var(--font-weight-7);
}
