---
import Link from "../Link.astro";
---

<ul>
  <li><Link href="https://www.github.com/nikbrunner" target="_blank" rel="noopener noreferrer">GitHub</Link></li>
  <li><Link href="mailto:nbr.haus.persuader046@passmail.com">Email (Alias)</Link></li>
  <li><Link href="https://www.linkedin.com/in/nbru/" target="_blank" rel="noopener noreferrer">LinkedIn</Link></li>
</ul>
