---
import Link from "../ui/Link.astro";
---

<p>These are the technologies I'm familiar with and regularly use.</p>
<ul>
  <li><Link href="https://react.dev" target="_blank" rel="noopener noreferrer">React</Link></li>
  <li><Link href="https://www.typescriptlang.org" target="_blank" rel="noopener noreferrer">TypeScript</Link></li>
  <li><Link href="https://graphql.org" target="_blank" rel="noopener noreferrer">GraphQL</Link></li>
  <li><Link href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">Tailwind CSS</Link></li>
  <li><Link href="https://tanstack.com/start" target="_blank" rel="noopener noreferrer">TanStack Start</Link></li>
  <li><Link href="https://tanstack.com/router" target="_blank" rel="noopener noreferrer">TanStack Router</Link></li>
  <li><Link href="https://tanstack.com/query" target="_blank" rel="noopener noreferrer">TanStack Query</Link></li>
  <li><Link href="https://tanstack.com/form" target="_blank" rel="noopener noreferrer">TanStack Form</Link></li>
  <li><Link href="https://ui.shadcn.com" target="_blank" rel="noopener noreferrer">ShadCN</Link></li>
  <li><Link href="https://sass-lang.com" target="_blank" rel="noopener noreferrer">SCSS</Link></li>
  <li><Link href="https://nodejs.org" target="_blank" rel="noopener noreferrer">Node.js</Link></li>
  <li><Link href="https://www.electronjs.org" target="_blank" rel="noopener noreferrer">Electron</Link></li>
  <li><Link href="https://redux-toolkit.js.org" target="_blank" rel="noopener noreferrer">Redux (Toolkit)</Link></li>
</ul>
