/* Shared color classes for all Typo components */
.Typo--color-main {
  color: var(--color-fg-main);
}

.Typo--color-support {
  color: var(--color-fg-support);
}

.Typo--color-minor {
  color: var(--color-fg-minor);
}

.Typo--color-accent {
  color: var(--color-fg-accent);
}

.Typo--color-accentAlt {
  color: var(--color-fg-accent-alt);
}
