.Typo-H1 {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-0);
  text-transform: uppercase;
  margin: 0 0 var(--size-4);
}

.Typo-H1.Typo--variant-print {
  font-size: var(--print-font-size-7);
  line-height: var(--print-font-lineheight-0);
  margin: 0 0 var(--print-size-6);
}
