.Typo-H2 {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-0);
  text-transform: uppercase;
  margin: 0 0 var(--size-3);
}

.Typo-H2--decorated {
  border-bottom: var(--border-size-2) dashed var(--color-fg-accent);
  padding-bottom: var(--size-1);
}
