.Typo-H2 {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-0);
  text-transform: uppercase;
  margin: 0 0 var(--size-4);
}

.Typo-H2--decorated {
  border-bottom: var(--border-size-2) dashed var(--color-fg-accent);
  padding-bottom: var(--size-4);
}

.Typo-H2.Typo--medium-print {
  font-size: var(--print-font-size-5);
  line-height: var(--print-font-lineheight-1);
  margin: 0 0 var(--print-size-4);
}
