.Typo-List {
  padding-left: var(--size-6);
  margin: var(--size-4) 0;
}

.Typo-List li {
  margin-bottom: var(--size-2);
}

.Typo-List--unordered {
  list-style-type: disc;
}

.Typo-List--ordered {
  list-style-type: decimal;
}

.Typo-List.Typo--medium-print {
  font-size: var(--print-font-size-2);
  line-height: var(--print-font-lineheight-3);
  padding-left: var(--print-size-8);
  margin: 0 0 var(--print-size-6);
}

.Typo-List.Typo--medium-print li {
  margin-bottom: var(--print-size-2);
}
