.Typo-H4 {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-6);
  line-height: var(--font-lineheight-2);
  margin: 0 0 var(--size-1);
}

.Typo-H4.Typo--medium-print {
  font-size: var(--print-font-size-3);
  line-height: var(--print-font-lineheight-2);
  margin: 0 0 var(--print-size-2);
}
