.Index {
  display: grid;
  gap: var(--size-8);
  max-width: var(--size-content-3);
  margin: 0 auto;
  align-items: start;
  grid-template-areas:
    "profile"
    "connect"
    "about"
    "employment"
    "projects";
}

.Index__section--profile {
  grid-area: profile;
}

.Index__section--connect {
  grid-area: connect;
}

.Index__section--about {
  grid-area: about;
}

.Index__section--employment {
  grid-area: employment;
}

.Index__section--projects {
  grid-area: projects;
}

/* Two columns: 768px+ */
@media (min-width: 768px) {
  .Index {
    max-width: none;
    grid-template-columns: var(--size-content-2) var(--size-content-2);
    justify-content: center;
    grid-template-areas:
      "profile    employment"
      "connect    employment"
      "about      projects"
      "about      projects";
  }
}

/* Two columns wider: 1024px+ */
@media (min-width: 1024px) {
  .Index {
    grid-template-columns: var(--size-content-3) var(--size-content-3);
  }
}

/* Three columns: 1440px+ */
@media (min-width: 1440px) {
  .Index {
    grid-template-columns: var(--size-content-2) var(--size-content-2) var(
        --size-content-2
      );
    grid-template-areas:
      "profile    employment projects"
      "connect    employment projects"
      "about      employment projects";
  }
}

/* Three columns wider: 1800px+ */
@media (min-width: 1800px) {
  .Index {
    gap: var(--size-10);
    grid-template-columns: var(--size-content-3) var(--size-content-3) var(
        --size-content-3
      );
  }
}
