.Index__column {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
}

.Index__layout {
  gap: var(--size-8);
  justify-content: center;
}

.Index__layout--one-column {
  max-width: var(--size-content-3);
  margin: 0 auto;
}

.Index__layout--two-columns,
.Index__layout--three-columns,
.Index__layout--four-columns {
  display: none;
}

@media (min-width: 768px) {
  .Index__layout--one-column {
    display: none;
  }

  .Index__layout--two-columns {
    display: grid;
    grid-template-columns: repeat(2, var(--size-content-2));
  }
}

@media (min-width: 1024px) {
  .Index__layout--two-columns {
    grid-template-columns: repeat(2, var(--size-content-3));
  }
}

@media (min-width: 1440px) {
  .Index__layout--one-column,
  .Index__layout--two-columns {
    display: none;
  }

  .Index__layout--three-columns {
    display: grid;
    grid-template-columns: repeat(3, var(--size-content-2));
  }
}

@media (min-width: 1800px) {
  .Index__layout {
    gap: var(--size-10);
  }

  .Index__layout--three-columns {
    display: grid;
    grid-template-columns: repeat(3, var(--size-content-3));
  }
}
