.AccentPickerOption {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: var(--size-2);
}

.AccentPickerOption__button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  outline: var(--border-size-2) solid transparent;
  outline-offset: var(--border-size-1);
  transition: outline-color 0.1s ease-out;
}

.AccentPickerOption:hover {
  .AccentPickerOption__button {
    outline-color: var(--fg-main);
  }
}

.AccentPickerOption--active {
  .AccentPickerOption__button {
    outline-color: var(--fg-main);
  }
}
