.AccentPickerOption {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: calc(var(--picker-gap, 8px) / 2);
}

.AccentPickerOption__button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}
