.ColorModePickerOption {
}

.ColorModePickerOption__button {
  display: block;
  background: var(--bg-main);
  border: none;
  cursor: pointer;
  color: var(--fg-main);

  font-size: var(--font-size-1);
  font-weight: var(--font-weight-9);
  text-align: center;

  transition: color 0.1s ease-out;
}

.ColorModePickerOption:hover {
  .ColorModePickerOption__button {
    color: var(--fg-accent);
  }
}

.ColorModePickerOption--active {
  .ColorModePickerOption__button {
    color: var(--fg-accent);
  }
}
