.ContrastPickerOption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ContrastPickerOption__button {
  display: block;
  background: var(--bg-main);
  border: none;
  cursor: pointer;
  color: var(--fg-main);

  font-size: var(--picker-font-size);
  font-weight: var(--font-weight-9);
  text-align: center;
}
