.ContrastPickerOption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-8);
  height: var(--size-8);
  padding: var(--size-2);
  background: var(--bg-main);
  border: none;
  color: var(--fg-main);
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-9);
  cursor: pointer;
  text-align: center;
  transition: color 0.1s ease-out;
}

.ContrastPickerOption:hover {
  color: var(--fg-accent);
}

.ContrastPickerOption--active {
  color: var(--fg-accent);
}
