.ContrastPickerOption {
}

.ContrastPickerOption__button {
  display: block;
  background: var(--bg-main);
  border: none;
  cursor: pointer;
  color: var(--fg-main);

  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-9);
  text-align: center;

  transition: color 0.1s ease-out;
}

.ContrastPickerOption:hover {
  .ContrastPickerOption__button {
    color: var(--fg-accent);
  }
}

.ContrastPickerOption--active {
  .ContrastPickerOption__button {
    color: var(--fg-accent);
  }
}
