.accentPicker {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--accent-picker-size);
  height: var(--accent-picker-size);
  cursor: grab;
  user-select: none;
  z-index: 9999;
  background: var(--bg-dots);
  border: var(--border-size-2) solid var(--fg-accent);
  border-radius: 50%;

  &:active {
    cursor: grabbing;
  }
}
