.AccentPicker {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--bg-main);
  border: var(--border-size-2) solid var(--fg-accent);
}

.AccentPicker__swatch {
  width: var(--size-6);
  height: var(--size-6);
  margin: var(--size-2) 0;
  cursor: pointer;
  border: var(--border-size-2) solid transparent;
  outline: var(--border-size-2) solid transparent;
  outline-offset: var(--border-size-1);
  transition:
    outline-color 0.1s ease-out,
    border-color 0.1s ease-out;
}

.AccentPicker__swatch:hover {
  border-color: var(--fg-main);
}

.AccentPicker__swatch--active {
  outline-color: var(--fg-main);
}
