.AccentPicker {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: var(--border-size-2) solid var(--fg-accent);
}

.AccentPicker__swatch {
  width: var(--size-6);
  height: var(--size-6);
  margin: var(--size-2) 0;
  cursor: pointer;
  border: none;
  transition:
    transform 0.1s ease-out,
    box-shadow 0.15s ease-out;
}

.AccentPicker__swatch:hover {
  transform: scale(1.35);
}

.AccentPicker__swatch--active {
  transform: scale(1.35);
}
