.accentPicker {
  position: fixed;
  bottom: var(--size-3);
  left: var(--size-3);
  right: var(--size-3);
  display: flex;
  /* justify-content: center; */
  z-index: 9999;
}

.swatchList {
  display: flex;
  align-items: center;
  height: var(--size-9);
  gap: var(--size-4);
  padding: var(--size-2) var(--size-6);
  border-left: var(--size-2) solid var(--fg-accent);
  border-right: var(--size-2) solid var(--fg-accent);
  background: var(--bg-dots);
  box-shadow: var(--shadow-hard-5);
  border: var(--border-size-2) solid var(--fg-accent);
}

.swatch {
  width: var(--size-6);
  height: var(--size-6);
  cursor: pointer;
  border: none;
  transition:
    transform 0.1s ease-out,
    box-shadow 0.15s ease-out;
}

.swatch:hover {
  transform: scale(1.35);
}

.active {
  transform: scale(1.35);
}
