.accentPicker {
  display: flex;
  align-items: center;
  gap: var(--size-4);
}

.swatch {
  width: var(--size-6);
  height: var(--size-6);
  cursor: pointer;
  border: none;
  transition:
    transform 0.1s ease-out,
    box-shadow 0.15s ease-out;
}

.swatch:hover {
  transform: scale(1.35);
}

.active {
  transform: scale(1.35);
}
