.accentPicker {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--accent-picker-size);
  height: var(--accent-picker-size);
  cursor: grab;
  user-select: none;
  z-index: 9999;
  box-shadow: var(--accent-picker-shadow);
  backdrop-filter: var(--accent-picker-filter);
  border-radius: 50%;

  &:active {
    cursor: grabbing;
  }
}

.circle {
  width: 100%;
  height: 100%;
  animation: spin 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
