.accentPicker {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--accent-picker-size);
  height: var(--accent-picker-size);
  cursor: grab;
  user-select: none;
  z-index: 9999;
  background: var(--fg-accent);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:active {
    cursor: grabbing;
  }
}
