.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  pointer-events: none;
  background-color: var(--color-bg-main);
}

.background__canvas {
  display: block;
  opacity: 0.35;
}

.background__color-probe {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

@media print {
  .background {
    display: none;
  }
}
