.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background-color: var(--color-bg-main);
  background-image: var(--bg-grid);
  background-size: var(--grid-size) var(--grid-size);
}
