.Button {
  position: relative; /* Fix Safari container-type stacking context bug */
  display: inline-flex;
  padding: var(--size-2) var(--size-3);
  border: var(--border-size-2) solid var(--color-fg-accent);
  background-color: var(--color-bg-main);
  font-family: var(--font-family);
  font-size: var(--font-size-0);
  color: var(--color-fg-main);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.1s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 0px var(--color-bg-support);
  }

  &.Button--accent {
    font-weight: var(--font-weight-7);
    background-color: var(--color-bg-accent);
    color: var(--color-fg-on-accent);
  }

  &.Button--large {
    padding: var(--size-2) var(--size-4);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-9);
  }
}
