.CopyButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-1);

  background: var(--color-bg-main);
  color: var(--color-fg-accent);

  cursor: pointer;
  transition:
    background 0.1s ease-out,
    border-style 0.1s ease-out;
}

.CopyButton:hover {
  background: var(--color-bg-accent);
  color: var(--color-fg-on-accent);
}
