<footer class="Footer">
  <div class="content">
    <!-- Footer content can be added here in the future -->
  </div>
</footer>

<style>
  .Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--size-4) var(--size-3);
    border-top: var(--border-size-2) solid var(--fg-accent);
    background-color: var(--bg-main);

    .content {
      max-width: var(--content-max-width);
      margin: 0 auto;
      display: flex;
      align-items: center;
    }
  }
</style>
