.Hint {
  display: inline-flex;
}

.Hint__tooltip {
  position: fixed;
  z-index: var(--z-tooltip);

  padding: 4px 8px;
  background: var(--color-bg-main);
  border: var(--border-size-1) solid var(--color-fg-accent);
  color: var(--color-fg-main);

  font-size: var(--font-size-0);
  font-weight: var(--font-weight-5);
  white-space: nowrap;
  pointer-events: none;
}
