.Job {
  margin-bottom: var(--size-8);
}

.Job__company {
  font-size: var(--font-size-4);
  color: var(--fg-accent);
  margin: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.Job__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
  margin-bottom: var(--size-8);
}
