.Job {
  margin-bottom: var(--size-8);
}

.Job__company {
  font-size: var(--font-size-4);
  color: var(--color-fg-accent);
  padding-bottom: 0;
  border-bottom: none;
}

.Job__website-link {
  color: var(--color-fg-accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Job__company-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.Job__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
  margin-bottom: var(--size-8);
}
