.Job {
  margin-bottom: var(--size-8);
  container-type: inline-size;
}

.Job__company {
  font-size: var(--font-size-4);
  color: var(--fg-accent);
  margin: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.Job__header {
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  margin-bottom: var(--size-3);
}

.Job__role {
  font-size: var(--font-size-2);
  color: var(--fg-support);
  font-weight: var(--font-weight-6);
}

.Job__period {
  font-size: var(--font-size-1);
  color: var(--fg-minor);
}

@container (min-width: 400px) {
  .Job__header {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: var(--size-2);
  }
}
