.Link {
  color: var(--fg-main);
  font-weight: var(--font-weight-7);
  text-decoration-thickness: 3px;
  text-decoration-color: var(--fg-accent);
  text-underline-offset: var(--border-size-2);
}

.Link:visited {
  color: var(--fg-main);
}

.Link:hover {
  color: var(--fg-accent);
}
