---
export interface Props {
  href: string;
  target?: string;
  rel?: string;
  style?: astroHTML.JSX.CSSProperties | null | undefined;
}

const { href, target, rel, style } = Astro.props;
---

<a href={href} target={target} rel={rel} style={style}><slot /></a>

<style>
  a {
    color: var(--fg-main);
    text-decoration-thickness: var(--border-size-2);
    text-decoration-color: var(--fg-accent);
    text-underline-offset: var(--border-size-2);

    &:visited {
      color: var(--fg-main);
    }

    &:hover {
      color: var(--fg-accent);
    }
  }
</style>
