.ProfilePicture {
  position: relative;
}

.ProfilePicture__image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  display: block;
  box-shadow: var(--shadow-hard-5);
  border: var(--border-size-2) solid var(--color-fg-accent);
}

.ProfilePicture__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background: var(--bg-dots);
  opacity: 0.25;
  z-index: 1;
}
