.project__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.project__tag {
  display: inline-flex;
  padding: 0 var(--size-1);
  border: var(--border-size-1) dotted var(--fg-minor);
  background-color: var(--bg-main);
  color: var(--fg-main);
}

.project__description {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  padding: var(--size-2);
  gap: var(--size-2);

  & p:first-child {
    font-weight: var(--font-weight-7);
  }

  & p {
    margin: 0;
  }
}

.project__links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.project__badge {
  display: inline-flex;
  padding: var(--size-2) var(--size-3);
  border: var(--border-size-2) solid var(--fg-accent);
  background-color: var(--bg-main);
  font-size: var(--font-size-0);
  color: var(--fg-main);
  text-decoration: none;
  cursor: pointer;
  transition:
    border-color 0.2s,
    background-color 0.2s,
    transform 0.1s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 0px var(--bg-support);
  }
}

.project__badge--primary {
  font-weight: var(--font-weight-7);
  background-color: var(--fg-accent);
  color: var(--fg-contrast);
}
