.project {
  border: var(--border-size-2) solid var(--fg-accent);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: var(--size-3);
  box-shadow: var(--shadow-hard-5);
  background:
    radial-gradient(var(--fg-accent) 0.5px, transparent 1px) 0 0 / 3px 3px,
    var(--bg-main);
}

.title {
  margin: 0;
  background-color: var(--bg-main);
  font-size: var(--font-size-2);
  color: var(--fg-accent);
  padding: var(--size-2) var(--size-3);
}

.label,
.value,
.tag,
.description {
  font-size: 3.5cqw;
}

.metadata {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--bg-main);
  padding: var(--size-2) var(--size-3);
}

.metadataItem {
  display: grid;
  grid-template-columns: 20cqw 1fr;
  gap: var(--size-3);
  padding: var(--size-2) 0;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px dashed var(--fg-accent);
  }
}

.label {
  font-family: var(--font-family-mono);
  color: var(--fg-support);
  white-space: nowrap;
}

.value {
  color: var(--fg-main);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.tag {
  display: inline-flex;
  padding: 0 var(--size-1);
  border: var(--border-size-1) solid var(--fg-minor);
  background-color: var(--bg-main);
  color: var(--fg-main);
}

.description {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  padding: var(--size-2);
  gap: var(--size-2);

  :global(p:first-child) {
    font-weight: var(--font-weight-9);
  }
}

.description p {
  margin: 0;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.linkBadge {
  display: inline-flex;
  padding: var(--size-2) var(--size-3);
  border: var(--border-size-2) solid var(--fg-accent);
  background-color: var(--bg-support);
  font-size: var(--font-size-0);
  color: var(--fg-main);
  text-decoration: none;
  cursor: pointer;
  transition:
    border-color 0.2s,
    background-color 0.2s,
    transform 0.1s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 0px var(--bg-support);
  }

  &.primary {
    font-weight: var(--font-weight-7);
    background-color: var(--fg-accent);
    color: var(--fg-contrast);
  }
}
