.Project__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.Project__description {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-main);
  padding: var(--size-2);
  gap: var(--size-2);

  & p:first-child {
    font-weight: var(--font-weight-7);
  }

  & p {
    margin: 0;
  }
}

.Project__links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}
