.Project__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.Project__tag {
  display: inline-flex;
  padding: 0 var(--size-1);
  border: var(--border-size-1) dotted var(--fg-minor);
  background-color: var(--bg-main);
  color: var(--fg-main);
}

.Project__description {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  padding: var(--size-2);
  gap: var(--size-2);

  & p:first-child {
    font-weight: var(--font-weight-7);
  }

  & p {
    margin: 0;
  }
}

.Project__links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}
