---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
const id = title?.toLowerCase().replace(/\s+/g, "-");
---

<section id={id}>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    container-type: inline-size;
    scroll-margin-top: var(--header-height);
  }
</style>
