.Section {
  container-type: inline-size;
  scroll-margin-top: var(--header-height);
  display: grid;
  gap: var(--size-3);

  & h2 {
    margin-bottom: var(--size-4);
  }

  & p:first-of-type {
    font-weight: var(--font-weight-7);
  }
}
