---
import styles from "./Section.module.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
const id = title?.toLowerCase().replace(/\s+/g, "-");
---

<section id={id} class={styles.section}>
  {title && <h2>{title}</h2>}
  <slot />
</section>
