.SpecList {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--color-bg-main);
}

.SpecList-padding--small {
  padding: var(--size-4);
}

.SpecList__item {
  display: grid;
  gap: var(--size-3);
  width: 100%;
  padding: var(--size-4) 0;
  align-items: start;
  align-self: start;
  font-size: var(--font-size-fluid-0);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px dashed var(--color-fg-accent);
  }
}

.SpecList__label {
  color: var(--color-fg-support);
  margin: 0;
}

.SpecList__value {
  color: var(--color-fg-main);
  overflow-wrap: break-word;
  margin: 0;
}
