.SpecList {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--bg-main);
  padding: var(--size-2) var(--size-3);
}

.SpecList__item {
  display: grid;
  grid-template-columns: 35cqw 1fr;
  gap: var(--size-3);
  padding: var(--size-2) 0;
  align-items: center;
  font-size: var(--font-size-fluid-0);

  &:not(:last-child) {
    border-bottom: 1px dashed var(--fg-accent);
  }
}

.SpecList__label {
  color: var(--fg-support);
}

.SpecList__value {
  color: var(--fg-main);
  overflow-wrap: break-word;
}
