.SpecGrid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
  padding: var(--size-2);
  background-color: var(--bg-main);
}

.SpecGrid__tag {
  display: inline-flex;
  padding: var(--size-1) var(--size-2);
  border: var(--border-size-1) dotted var(--fg-minor);
  background-color: var(--bg-main);
  color: var(--fg-main);
  text-decoration: none;
  transition:
    border-color 0.2s,
    background-color 0.2s,
    color 0.2s;

  &:hover {
    border-color: var(--fg-accent);
    background-color: var(--fg-accent);
    color: var(--fg-contrast);
  }
}
