.spec-list {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--bg-main);
  padding: var(--size-2) var(--size-3);
}

.spec-list__item {
  display: grid;
  grid-template-columns: 35cqw 1fr;
  gap: var(--size-3);
  padding: var(--size-2) 0;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px dashed var(--fg-accent);
  }
}

.spec-list__label {
  font-family: var(--font-family-mono);
  color: var(--fg-support);
}

.spec-list__value {
  color: var(--fg-main);
  overflow-wrap: break-word;
}
