.SpecList {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--bg-main);
}

.SpecList-padding--small {
  padding: var(--size-4);
}

.SpecList__item {
  display: grid;
  gap: var(--size-3);
  width: 100%;
  padding: var(--size-2) 0;
  align-items: start;
  align-self: start;
  font-size: var(--font-size-fluid-0);

  &:not(:last-child) {
    border-bottom: 1px dashed var(--fg-accent);
  }
}

.SpecList__label {
  color: var(--fg-support);
  margin: 0;
}

.SpecList__value {
  color: var(--fg-main);
  overflow-wrap: break-word;
  margin: 0;
}
