.SpecCard {
  container-type: inline-size;
  border: var(--border-size-2) solid var(--color-fg-accent);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  padding: var(--size-3);
  background: var(--bg-dots);
}

.SpecCard__title {
  margin: 0;
  background-color: var(--color-bg-main);
  color: var(--color-fg-accent);
  padding: var(--size-2) var(--size-3);
  border-left: var(--border-size-3) solid var(--color-fg-accent);
}

.SpecCard__description {
  margin: 0;
  background-color: var(--color-bg-main);
  padding: var(--size-2) var(--size-3);
}
