---
import profile_picture from "../../components/../assets/images/profile_picture.jpg";
import styles from "./ProfilePicture.module.css";
---

<div class={styles.profilePicture}>
  <img
    class={styles.profileImage}
    src={profile_picture.src}
    alt="Nik Brunner's personal website - a black and white photograph of a modernist house representing his digital home"
  />
  <div class={styles.profileImageOverlay}></div>
</div>
